<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>
</head>
<body>
<br>
<div th:align="center" class="tg">
    <h2>User List</h2>
    <th>
        <button><a href="/api/admin/create-user">Create user </a></button>
    </th>
    <br>
    <br>
    <table border="1" cellpadding="5">
        <thead >
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>EMAIL</th>
            <th>USERNAME</th>
            <th>USER ROLE</th>
            <th>ACTIONS</th>

        </tr>
        </thead>
        <tr th:each="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:text="${user.name}">...</td>
            <td th:utext="${user.surname}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.username}">...</td>
            <td th:each="role : ${user.roles}">
                <span th:text="${role.name}"> </span> </td>

            <td>
                <button><a th:href="@{/api/admin/update-user/{id}(id=${user.id})}">Update</a></button>
                <button><a th:href="@{/api/admin/user-delete/{id}(id=${user.id})}">Delete</a></button>
            </td>

        </tr>
    </table>
    <br><br>
    <td>
        <button><a th:href="@{/logout}">LOGOUT</a></button>
    </td>
</div>
</body>
</html>